<div class="row" ng-init="init()">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Grid</h3>
            </div>
            <div class="panel-body">
                <p>
                    Ana are mere de vanzare!
                    Doriti sa cumparati?
                </p>

                <div class="row">
                    <div class="col-sm-12 text-center">Ceva text aici</div>
                </div>

                <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="hover" 
                   title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>

                <div class="pull-right">
                    <button type="button" class="btn btn-success">Da!</button>
                    <button type="button" class="btn btn-default">Nu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
