<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Glanetasul</title>

    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")

    <script src="~/App/app.module.js"></script>
    <script src="~/App/app.controller.js"></script>
</head>
<body ng-controller="MainCtrl">
    <input type="text" ng-model="model.food" placeholder="Enter food" />
    <button ng-click="doSomething()">MyButton</button>
    <p>Sriracha suce is great with {{model.food}}!</p>
</body>
</html>

